<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Classes</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include('../includes/header.ejs') %>
        <main>
            <% if (classes.length > 0) { %>
                <ul class="classSectionList topPadded">
                    <% classes.forEach((classData) => { %>
                        <li class="classListItem">
                            <h3><%= classData.name %>: Section <%= classData.section %></h3>
                            <div class="buttonFlex">
                                <a href="/test-server" class="btn"><img src="/images/start-class.png" alt="start class"></a>
                                <form action="/edit-class-view" method="post" class="buttonForm">
                                    <input type="hidden" name="editClassId" value="<%= classData.id %>">
                                    <button type="submit"><img src="/images/edit-class.png" alt="edit class"></button>
                                </form>
                                <button onclick="window.open('/class/<%= classData.id %>/qr-code', 'QR Code', 'width=600, height=600')"><img src="/images/qr-code.png" alt="qr code"></button>
                                <a class="btn" href="/create-poll"><img src="/images/poll.png" alt="create poll"></a>
                            </div>
                        </li>
                    <% }) %>
                    <li class="classListItem">
                        <a class="addClass" href="/add-class">+</a>
                    </li>
                </ul>
            <% } else { %>
                <p class="centered">No Classes! Click the button below to add a class.</p>
                <a class="addClass centered" href="/add-class">+</a>
            <% } %>
        </main>

        </main>

        <script src="/js/mainScript.js"></script>
        <!-- <script src="./renderer.js"></script> -->
    </body>
</html>